<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Tell your interest!</h1>
    <p> Please select one option as 'yes' from the questions ... </p>
    <p><a href="{{ url_for('interest', id=0) }}"> Start </a></p>
</body>
</html>