<!-- interest.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Interest</title>
</head>
<body>
    <h1> Select your interest? </h1>

    <p> {{interest}} </p>

    <form method="post">

        {{ form.hidden_tag() }}
        <p>
            {% for ch in form.choice %}
                {{ ch }} {{ch.label}}<br>
            {% endfor %}
        </p>

        {{ form.submit }}
        
        <!-- <p>
            <input type="radio" name="choice" value="yes"> Yes <br>
            <input type="radio" name="choice" value="no"> No <br>
        </p>
        <input type="submit" value="Submit">  -->       
    </form>

    <p><a href="{{ url_for('index')}}"> Begin again </a></p>

</body>
</html>