<!-- subject.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Subject</title>
</head>
<body>
    <h1> Subject selection </h1>
    <p> Recommended subject : <b> {{ sub }} </b></p>

    <p>Thank you! Click <a href="{{ url_for('index')}}"> here </a> to try again</p>
</body>
</html>