<!-- createThanks.html  -->

<!DOCTYPE html>
<html>
<head>
    <title>Thanks</title>
</head>
<body>
    <h1> Thank You! Your question is submitted successfully. </h1>
    <p> Your question was : <b> {{ question }} </b> </p>

    <p>Go to <a href="{{url_for('index')}}">main page</a></p>
</body>
</html>