<!-- database_error.html  -->

<!DOCTYPE html>
<html>
<head>
    <title>Database</title>
</head>
<body>
    <h2> Error in database connection </h2>

    <p> Error : <b>{{ error }}</b> </p>
    <p>Go to <a href="{{url_for('index')}}">main page</a></p>
</body>
</html>