<!-- question.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Question</title>
</head>
<body>
    <h1> {{ question }} </h1>

    <form method='post'>
        <b>Answer</b> <input type="text" name="answer"><br>
        <input type="submit" name="submit" value="Submit">
        <input type="reset" name="reset" value="Reset"><br>
    </form>

    <p>Go to <a href="{{url_for('index')}}">main page</a></p>
</body>
</html>